body{
    background-color: aqua;
}

.container{
    background-color: darkblue;
    height: 100vh;
}

.row{
    background-color: orange;
    height: 100vh;
}

.colBox{
    background-color: azure;
    height: 80vh;
    border: 1px solid black;
}

.calc{
    background-color: rgb(26, 21, 21);
    width: 300px;
    height: 400px;
}

.calc-input{
    margin: 2px;
}

.guarda{
    background-color: rgb(34, 25, 43);
    height: 50px;
}

.fila{
    background-color: orange;
    height: 60px;
    border: 1px solid black;
    display: flex;
}

.boton{
    width: 75px;
    background-color: rgb(74, 74, 153);
    border: solid 1px black;
}

.boton-caracter {
    width: 75px;
    background-color: grey;
    border: solid 1px black;
}

.boton1{
    width: 150px;
}

.info{
    text-align: center;

}

.cero{
    background-color: rgb(74, 74, 153);
}

.letraC{
    background-color: rgb(37, 193, 193);
}

.igual{
    background-color: red;
}